.Artcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.article-container {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.article-header p {
    margin: 0;
}

h2 {
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    object-fit: contain;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-container {
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.reviews {
    margin-top: 20px;
}

.review-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-container .user-info {
    display: flex;
    align-items: center;
}

.review-container .user-info p {
    margin: 0 10px 0 0;
}

.file img, iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.review-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h3 {
    margin-top: 20px;
    font-size: 20px;
}
